.componentMusicPanelChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-900);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 1398px;
  height: 70px;
}
.buttonMore {
  position: absolute;
  top: 6px;
  left: 1349px;
  width: 29px;
  height: 60px;
}
.buttonPlayPauseChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconPauseChild,
.iconPauseItem {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 1.98px;
  background-color: var(--color-white);
  width: 3px;
  height: 9.9px;
}
.iconPauseItem {
  left: 7.9px;
}
.iconPause {
  position: absolute;
  height: 19.74%;
  width: 14.88%;
  top: 39.64%;
  right: 42.62%;
  bottom: 40.62%;
  left: 42.5%;
  overflow: hidden;
}
.artist,
.buttonPlayPause {
  position: absolute;
  top: 5px;
  left: 1216px;
  width: 80px;
  height: 60.8px;
}
.artist {
  height: 22.86%;
  width: 10.52%;
  top: 14.29%;
  left: 4.86%;
  line-height: 15px;
  display: flex;
  align-items: center;
}
.youAreAmaizing {
  margin: 0;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.remixByArtist {
  margin: 0;
}
.youAreAmaizingContainer1 {
  line-break: anywhere;
  width: 100%;
}
.youAreAmaizingContainer {
  position: absolute;
  height: 45.71%;
  width: 10.8%;
  top: 47.14%;
  left: 4.86%;
  font-size: 11.89px;
  line-height: 15.86px;
  display: flex;
  align-items: center;
}
.coverIcon {
  position: absolute;
  height: 85.71%;
  width: 4.15%;
  top: 7.14%;
  right: 95.49%;
  bottom: 7.14%;
  left: 0.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.componentMusicPanel {
  position: absolute;
  top: 944px;
  left: 21px;
  width: 1398px;
  height: 70px;
  text-align: left;
  font-size: 13.87px;
  color: var(--color-white);
  font-family: var(--font-gotham-pro);
}
