.main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 17px;
  }
  .artwork-upload {
    align-self: stretch;
    flex-shrink: 0;
    min-width: 0;
    height: 149px;
    background: url()
      no-repeat center;
    background-size: cover;
  }
  .list-view {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 345px;
  }
  .view-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 184.367px;
    height: 30px;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .add-new-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 53px;
    min-height: 0;
    background: rgb(42, 40, 73);
    border-radius: 10px;
  }
  .techno {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 0;
    height: 16px;
    font-family: Gotham Pro;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    word-break: break-word;
  }
  .button-add-new-tag {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 5px;
    min-width: 0;
    min-height: 0;
    padding: 0 4.892px 0 4.784px;
    background: rgb(42, 40, 73);
    border-radius: 10px;
  }
  .span-add-new-tag {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    height: 16px;
    font-family: Gotham Pro;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    word-break: break-word;
  }
  .div-plus {
    flex-shrink: 0;
    width: 20.344px;
    height: 20px;
    background: url()
      no-repeat center;
    background-size: cover;
  }
  .div-input-enter-track-name {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    height: 44px;
    top: 45px;
    right: 0;
    left: 0;
    padding: 0 0 0 10px;
    background: rgb(30, 33, 54);
    z-index: 3;
    overflow: hidden;
    border-radius: 13px;
  }
  .span-enter-track-name {
    flex-shrink: 0;
    width: 124px;
    height: 44px;
    font-family: Gotham Pro;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    word-break: break-word;
  }
  .div-input-enter-description {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    height: 44px;
    top: 109px;
    right: 0;
    left: 0;
    padding: 0 0 0 10px;
    background: rgb(30, 33, 54);
    z-index: 4;
    overflow: hidden;
    border-radius: 13px;
  }
  .enter-description {
    flex-shrink: 0;
    width: 128px;
    height: 44px;
    font-family: Gotham Pro;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    word-break: break-word;
  }
  .button-attach-audio {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    height: 44px;
    top: 173px;
    right: 0;
    left: 0;
    padding: 0 0 0 10px;
    background: rgb(30, 33, 54);
    z-index: 5;
    overflow: hidden;
    border-radius: 13px;
  }
  .attach-audio-file {
    flex-shrink: 0;
    width: 229px;
    height: 44px;
    font-family: Gotham Pro;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    word-break: break-word;
  }
  .auto-layer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 44px;
    top: 237px;
    right: 0;
    left: 0;
    z-index: 6;
  }
  .input-enter-description {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 142.664px;
    height: 44px;
    padding: 0 0.1px 0 0;
    background: rgb(30, 33, 54);
    overflow: hidden;
    border-radius: 13px;
  }
  .enter-remix-artist {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 0;
    height: 18px;
    font-family: Gotham Pro;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    word-break: break-word;
  }
  .btn-it-is-original {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 109.742px;
    height: 42px;
    padding: 0 0.08px 0 0;
    background: rgb(30, 33, 54);
    overflow: hidden;
    border-radius: 13px;
  }
  .it-is-original {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 0;
    height: 16px;
    font-family: Gotham Pro;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    word-break: break-word;
  }
  .drop-list-choose-genre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 124.703px;
    height: 42px;
    padding: 0 0.09px 0 0;
    background: rgb(30, 33, 54);
    overflow: hidden;
    border-radius: 13px;
  }
  .choose-genre {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 0;
    height: 16px;
    font-family: Gotham Pro;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    word-break: break-word;
  }
  .auto-layer-row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 44px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
  }
  .set-a-release-date {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 220.477px;
    height: 44px;
    padding: 13px 9.481px 13px 20px;
    background: rgb(30, 33, 54);
    overflow: hidden;
    border-radius: 13px;
  }
  .wrapper {
    display: flex;
    align-items: flex-end;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 12px;
    min-width: 0;
    min-height: 0;
  }
  .icon-calendar {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }
  .union {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 8;
  }
  .choose-date-of-release {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    height: 18px;
    font-family: Gotham Pro;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    word-break: break-word;
  }
  .button-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 152.641px;
    height: 44px;
    padding: 0 0.11px 0 0;
    background: rgb(31, 221, 186);
    overflow: hidden;
    border-radius: 13px;
  }
  .upload {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 0;
    height: 18px;
    font-family: Gotham Pro;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    word-break: break-word;
  }
  